#heading{
    margin: 15px;
}

.container-fluid .row section{
    padding: 7.5px;
}

.container-fluid .row section div{
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(184, 184, 184, 0.78);
}

@media(min-width: 1200px){
    .container-fluid .row section div{
        height: 1450px;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .container-fluid .row section div{
        height: 1775px;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .container-fluid .row section div{
        height: 2400px;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    #Chicken div, #Beef div{
        height: 2050px;
    }
}